{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/login_main.css"%}" />
</head>

<div class="Log-in2nd-version">

<div class="Bg">
    <div>
        <img src="{% static "img/icon_shield.png"%}"
        style="width:89.4px;height:117.8px;max-width: 100%;
        height: auto;margin-left: 185px;margin-right: auto;"/>
    </div>

</div>
    <div class="main">
        <div>
            <img src="{% static "img/ATMA.png"%}" class="ATMA">
        </div>
        <br>
        <p class="Create-your-ATMA-account" align="left">Log In to Your Account</p>
        <p class="Email-Address" align="left">Email Address</p>
            <input class="Bar_Email" type="text" align="left" placeholder="Email Address">
        <p class="Email-Address" align="left">Password<a href="#" style="float:right;">Forgot Password?</a></p>
            <input class="Bar_Password" type="password" align="left" placeholder="Password">
        <br>
        <br>
        <br>
        <br>
            <div class="submit" align="center">Sign in</div>
        <div>
            <hr class="new1"><div class="or">or</div><hr class="new2">
        </div>
            <div class="Log-in-with">Log in with</div>
            <img src="{% static "img/icon_google.png"%}" class="ant-designgoogle-circle-filled">
            <img src="{% static "img/icon_facebook.png"%}" class="other-icons">
            <img src="{% static "img/icon_linkedin.png"%}" class="other-icons">
    </div>
    <div>
        <p class="Forgot-Bottom" align="left">Not Registered Yet? <a href="#"> Create an Account</a></p>
    </div>
</div>

</html>
