<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../static/css/login_main.css" />
</head>

<div class="Log-in2nd-version">

    <div class="Bg">
        <div>
            <img src="../../../static/img/icon_shield.png"
                 style="width:89.4px;height:117.8px;max-width: 100%;
        height: auto;margin-left: 185px;margin-right: auto;">
        </div >
        <p class="Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing">
            Welcome to __________!
            <br>
            <br>
            Please go ahead and make your account :)
        </p>

    </div>
    <div class="main">
        <div>
            <img src="../../../static/img/ATMA.png" class="ATMA">
        </div>
        <br>
        <p class="Create-your-ATMA-account" align="left">Create your ATMA Account</p>
        <p class="NameSpace" align="left">First Name</p>
        <p class="NameSpace" align="left">Last Name</p>
        <input class="Bar_Name" type="text" align="left" placeholder="First Name">
        <input class="Bar_Name" type="text" align="left" placeholder="Last Name">
        <p class="Email-Address" align="left">Email Address</p>
        <input class="Bar_Email" type="text" align="left" placeholder="Email Address">
        <p class="Email-Address" align="left">Password</p>
        <input class="Bar_Password" type="password" align="left" placeholder="Password must be longer than 8 characters">
        <br>
        <br>
        <br>
        <br>
        <div class="submit" align="center">Register</div>
        <div>
            <hr class="new1"><div class="or">or</div><hr class="new2">
        </div>
        <div class="Log-in-with">Sign up with</div>
        <img src="../../../static/img/icon_google.png" class="ant-designgoogle-circle-filled">
        <img src="../../../static/img/icon_facebook.png" class="other-icons">
        <img src="../../../static/img/icon_linkedin.png" class="other-icons">
    </div>

</div>

</html>