*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

.container {
	width: 100vw;
	max-width: 1440px;
}

.ml-8 {
	margin-left: 13rem !important;
}

.navbar {
	cursor: default;
	width: 95vw;
	max-width: 1440px;
	height: 120px;
	background-color: #ffffff;
}

.home-logo {
	width: 180px;
}

.nav-link.dropdown-toggle {
	font-family: Inter;
	color: #000000;
	font-size: 18px;
}

.navbar-brand {
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
}

.navbar-brand:hover {
	text-decoration: underline;
	text-decoration-color: #3d73ff;
	text-decoration-thickness: 3px;
}
.navbar-toggler.navbar-toggler-right {
	display: none;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:not(:disabled):not(.disabled):active {
	color: #000000;
	background-color: #ffffff;
	border-color: #ffffff;
}

.log-button {
  width: 110px;
  height: 35px;
  padding: 5px 26px 11px 30px;
  border-style: solid;
  border-radius: 100px;

  background-color: #3d73ff;
  color: #ffffff;
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;

}

.log-button:hover {
  text-decoration: underline white;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .ml-8 {
    margin-left: 0 !important;
  }
  .navbar-brand {
    font-size: 16px;
  }
  .home-logo {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 680px) {
  .navbar-brand {
    display: none;
  }
  .navbar-toggler.navbar-toggler-right {
    display: block;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-nav .nav-item .nav-link {
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    color: #000000;
		background-color: #ffffff;
		width: 100%;
    z-index: 1;
  }

  .navbar-nav .nav-item:hover .nav-link {
    background-color: #eceff2;
  }
  .log-button {
    display: none;
  }
}
